<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHevan</title>

    <!-- External CSS and Fonts -->
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/rating.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>

    <style>
        .btn-search:hover {
            background-color: #fe424d;
            color: #fff;
        }
        .btn-search {
            background-color: #fe424d;
            color: #fff;
            border-radius: 25px;
            padding: 0 1rem;
        }
        .btn-search i {
            display: inline;
            margin-right: 0.5rem;
        }
        .search-input {
            border-radius: 20px;
            padding: 0.5rem 3rem;
        }
    </style>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/listings"><i class="fa-solid fa-infinity fa-2xl" style="color: #fe424d;"></i></a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link logo" href="/listings">HomeHevan</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="/signup"> <button class="btn btn-search" type="submit">
                        <i class="fa-solid fa-user"></i>Signup</button></a>
                       
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-3">
        <div class="row">
            <div class="col-8 offset-2">
                <h3><%= listing.title %></h3>
            </div>
            <div class="card col-6 offset-3 show-card listing-card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image"><br>
                <div class="card-body">
                    <p class="card-text">
                        <%= listing.description %><br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> <br>
                        <%= listing.location %><br>
                        <%= listing.country %>
                    </p>
                </div>
            </div>
            <!-- Edit and Delete Buttons -->
            <div class="col-6 offset-3 mt-3">
                <button class="btn btn-primary btn-sm" type="button">
                    <a href="/listings/<%= listing._id %>/edit" style="color: #fff; text-decoration: none;">Edit</a>
                </button>
                <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </div>
            <br>
            <div  class="col-8 offset-3 mb-3">
                <br>
                
                    <hr>
                <h4>Please rate us!</h4>
                <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-coinFlip">
                        
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    </div>
        
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="comment" cols="25" rows="5" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please add comment for review!</div>
                    </div>
                    <button class="btn btn-outline-dark ">Submit</button>
                </form>
              <br>
              <br>
              <% if(listing.reviews.length > 0 ) { %>
            <div class="row">
                <p><b> All Reviews </b></p>
               <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                        <p class="card-text"><%= review.comment %></p>
                        
                    
                       <form class="mb-3 mt-1" method="POST" action="/listings/<%=listing._id %>/reviews/<%=review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                       </form>
                    </div>
                </div>
              <% } %>
            </div>
            <%}%>
            
            </div>
            <!-- Map Section -->
            <div class="col-8 offset-2 mb-3">
                <h3>Where you'll be!</h3>
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!-- External Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
    <script src="/js/map.js"></script>
</body>
</html>
